* {
    margin: 0;
    padding: 0;
    background: #FFF;
}

html {
    font-family: 'Roboto';
}

#hero-section {
    display: inline-flex;
    padding: 51px 84px 48px 212px;
    justify-content: flex-end;
    align-items: center;
}

#account-options {
    width: 406px;
    height: 52px;
    border: none;
}

.container {
    padding-left: 105.29px;
}

.custom-border {
    border: none;
    margin-bottom: 30px;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.25);
}

h1 {
    /*Typograph*/
    color: #000;
    text-align: center;
    font-family: "Roboto";
    font-size: 39px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    /*Layout*/
    width: 473px;
    height: 101px;
}

h2 {
    /*Typograph*/
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.arrow {
    padding-left: 11px;
}

h1,
h2 {
    margin-left: -40px;
    margin-bottom: 30px;
}

.hero-button-skip {
    border-radius: 35px;
    background: #3EB25E;

    border: none;
    width: 418px;
    height: 36px;
}

.container {
    display: block;
    position: relative;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

select{
    padding-left: 10px;
    appearance: unset;
}

.checkmark {
    position: absolute;
    top: 5px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #3eb05c4b;
    border-radius: 50%;
}

.container input:checked~.checkmark {
    background-color: #3EB25E;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.button-1,
.button-2,
.button-3 {
    border: none;
}

.skip-button-style {
    width: 418px;
    height: 36px;
}

.button-3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
}

a {
    text-decoration: none;

    /*Typograph*/
    color: #FFF;
    text-align: center;
    font-family: 'Roboto';
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 35px;
    border-style: none;

    display: flex;
    align-items: center;
    justify-content: center;
    background: #3EB25E;

    /*Layout*/
    width: 199px;
    height: 35.554px;
    transition: 1s;
    margin: 10px;
}

a:hover {
    text-decoration: none;
    color: #000;
    border-radius: 35px;
    background: #FFFF7D;
}

.form-options {
    color: #000;
    font-family: "Roboto";
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 42px;
}